.pidmsg {
  color: rgb(226, 8, 8);
  margin-left: -700px;
  margin-top: -17px;
}
.inputbox {
  margin: 100px;
  width: 230px;
}
.saveb {
  margin-top: -100px;
  margin-left: 350px;
}
.pidmsg1 {
  margin-top: 10px;
  color: rgb(226, 8, 8);
  margin-left: -700px;
}
.allbutton {
  margin-top: 100px;
}
